@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variabel tema */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Menyembunyikan footer di halaman tertentu */
body[data-path*="/dashboard"],
body[data-path*="/user"],
body[data-path*="/setor"],
body[data-path*="/tarik"],
body[data-path*="/konten"],
body[data-path*="/laporan"] footer {
  display: none;
}

/* Gaya khusus untuk Swiper */
.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #f9f9f9;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

/* Swiper navigation */
.swiper-button-next,
.swiper-button-prev {
  color: var(--foreground);
}

/* Swiper pagination */
.swiper-pagination-bullet {
  background-color: var(--foreground);
}

.swiper-pagination-bullet-active {
  background-color: #44bef2;
}

/* Utility tambahan */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
